<%= simple_form_for @user, :html => { :class => 'form-horizontal', :multipart => true  } do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>

  <%= f.input :username %>
  
  <%= f.input :avatar %>

  <%= f.input :email %>

  <%= f.input :role do %>
  	<%= f.select :role, Role.all.map { |r| [Role.human_attribute_name(r.name), r.name] }, include_blank: true %>
	<% end %>

  <%= f.input :password %>

  <%= f.input :password_confirmation %>

  <div class="form-actions">
    <%= f.button :submit , :class => 'btn btn-primary' %>
    <%= link_to "Cancelar",
                prospects_path, :class => 'btn' %>
  </div>
<% end %>
