<%= simple_form_for @prospect, :html => { :class => 'form-horizontal' } do |f| %>
  <%= %>

  <%= f.input :name, label: "Nombre del cliente" %>

  <%= f.input :company, label: "Empresa" %>

  <%= f.input :phone, label: "Teléfono" %>

  <%= f.input :address, label: "Dirección" %>

  <%= f.input :email %>

  <%= f.input :state, as: :radio_buttons, label: "Interesado?" %>

  <%= f.input :product, label: "Producto de interes" %>

  <%= f.input :status, as: :radio_buttons, label: "Cotizado?" %>

  <%= f.input :comments, label: "Comentarios", input_html: { class: "input-xlarge", rows: "8"} %>


  <div class="form-actions">
    <%= f.submit "Ok", :class => 'btn btn-primary' %>
    <%= link_to "Cancelar",
                prospects_path, :class => 'btn' %>
  </div>
<% end %>
